@import './../variables.scss';

/*-----------------------------------------------------------------*/

.atividades {
    display: flex;
    background-color: $cinza-claro;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.conteudo {
    border-radius: 20px;
    background-color: $cinza-meio-escuro;
    width: 70%;
    min-height: 300px;
    padding: 20px 50px 50px 50px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.palestrante {
    font-weight: bold;
}


.descricao {
    text-align: start;
    overflow: auto
}

.legenda_title {
    font-size: 1.3em;
    margin-bottom: 20px;
    text-align: center;
}

.mask {
    width: 100%;
    height: 45vh;
    background-color: $cinza-claro;
    margin-top: 10px;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    background-color: rgba($color: $cinza-claro, $alpha: 0.8);
    height: 30vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    padding: 10px 20px;
}

.datahora {
    text-align: right;
    transform: translateX(-15px);
    color: #d4d4d4;
    padding: 0;
}

@media screen and (max-width: 767px) {

    .conteudo {
        width: 90vw;
    }

    .title {
        font-size: 1.5em;
    }

    .img {
        width: auto;
        height: 20vh;
        object-fit: cover;
    }

    .legenda_title {
        font-size: 1em;
    }

    .decricao_content {
        overflow-y: scroll;
        height: 20vh;
    }

    .descricao {
        font-size: 0.8em;
    }

    .mask{
        height: 20vh;
    }

    .datahora {
        margin-top: 10px;
        font-size: 0.7em;
    }
}