@import './../variables.scss';

.footer {
    background-color: $cinza;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer_content {
    display: flex;
}

.footer_content a {
    text-decoration: none;
    color: $azul;
}

.footer_content a:hover {
    text-decoration: underline;
}

.dacc {
    width: 50%;
}

.dacc p{
    margin-top: 30px;
}

.copyright {
    margin-left: 20px;
    width: 30%;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    margin-bottom: 30px;
}

.copyright p {
    width: 100%;
}

.pessoa {
    margin-bottom: 20px;

    img {
        margin-right: 20px;
        border-radius: 50px;
    }
}

@media screen and (max-width: 767px) {
    .footer_content {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 30px;
    }

    .dacc,
    .links,
    .copyright {
        width: auto;
    }

    .copyright{
        margin-left: auto;
    }

    .links {
        min-height: 200px;
    }
}