@import './../variables.scss';

.galeria {
    background-color: $cinza-bem-mais-escuro;
    color: white;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 2em;
}

.galeria_content {
    display: flex;
    overflow-x: scroll;
}

.fotos{
    display: flex;
    max-width: 80vw;
}

.foto {
    background-color: white;
    color: black;
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mask {
    width: 250px;
    height: 250px;
    background-color: $cinza-claro;
    margin-top: 10px;
    overflow: hidden;
}

.foto p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .title{
        font-size: 1.2em;
    }
}