@import './../variables.scss';

.middle_banner {
    background-color: $cinza-bem-mais-escuro;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 20px 0;
    color: white;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider::before {
    margin-bottom: 50px;
}

.divider::after {
    margin-top: 75px;
}

.divider::before,
.divider::after {
    content: "";
    display: block;
    border-top: 1px solid #cecece5e;
    width: 60%;
    border-radius: 20px;
}

.title {
    margin-top: 0;
    font-weight: bold;
    font-size: 2em;
}

.botao_container {
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 767px) {

    .title{
        font-size: 1.1em;
    }

}