@import './../variables.scss';

.pessoal {
    background-color: $cinza-bem-mais-escuro;
    color: white;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 2em;
}

.subtitle {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.pessoas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
}

.equipe {
    margin: 5px;
}

.equipe_pessoal {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    justify-content: center;
}

.nome{
    font-weight: bold;
    text-decoration: underline;
    color: $azul;
}

.pessoa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;

    img {
        margin-right: 20px;
        border-radius: 50px;
    }
}

@media screen and (max-width: 767px) {
    .pessoas {
        flex-direction: column;
    }

    .title {
        font-size: 1.2em;
    }

    .subtitle {
        font-size: 1.1em
    }

    .equipe_pessoal {
        flex-direction: column;
    }
}