@import './../variables.scss';

.sobre {
    background-color: $cinza-meio-escuro;
    background-image: url(./../../assets/fundoSobre.svg);
    color: white;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px;
}

.title {
    font-size: 3em;
    margin-top: 20px;
}

.descricao {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto {
    width: 30%;

    p {
        font-size: 1.3em;
    }
}

.foto {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;


}


.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 10rem;
        margin: 0;
        text-align: center;
        transform: translate(150px, -35px);
        padding: 0;
        font-family: 'Kalam', cursive;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    img {
        width: 80%;
        height: auto;
        transform: translateY(75px);
    }
}

@media screen and (max-width: 767px) {

    .title {
        font-size: 1.5em;
    }

    .descricao {
        flex-direction: column;
    }

    .texto {
        width: 100%;
    }

    .img {
        img{
            width: 80vw;
        }
        p {
            font-size: 8em;
            transform: translate(0);
        }
    }

}