@import './../variables.scss';

/*-----------------------------------------------------------------*/

.trabalhos {
    background-color: $cinza-bem-mais-escuro;
    color: white;
    padding: 50px 0;
    background-image: url(./../../assets/img/fundoSobre.svg);
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3em;
    font-weight: bold;
}

.info {
    width: 70%;

}

.areas_submissao {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        border-radius: 50%;
        width: 42%;
        height: auto;
    }

    p {
        font-size: 0.9em;
        margin-top: 20px;
    }
}

.area {
    display: flex;
    flex-direction: column;
    width: 50%;

    ul {
        li {
            list-style: inside;
            list-style-type: disclosure-closed;
        }
    }
}

.subtitle {
    font-size: 2em;
}

.subtitle::after {
    content: "";
    width: 100px;
    border-top: 1px solid white;
    display: block;
}

.button {
    margin-top: 50px;
    padding: 20px;
    font-size: 1.3em;
    border-radius: 50px;
}

@media screen and (max-width: 767px) {

    .title {
        font-size: 1.8em;
    }

    .info {
        width: 80%;
    }

    .areas_submissao {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .area{
        width: 100%;
    }

}