@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Nova+Mono&family=Ysabeau:ital,wght@0,1;0,400;0,800;1,1&display=swap");
@import './variables.scss';

body {
    font-family: "Nova Mono", monospace;
    font-family: "Ysabeau", sans-serif;
    font-family: "Montserrat", sans-serif;
    background-color: $cinza-bem-mais-escuro;
    color: white;
    margin: 0;
}


.divider::before {
    margin-bottom: 50px;
}

.divider::after {
    margin-top: 75px;
}

.divider::before,
.divider::after {
    content: "";
    display: block;
    border-top: 1px solid #cecece5e;
    width: 60%;
    border-radius: 20px;
}