@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Nova+Mono&family=Ysabeau:ital,wght@0,1;0,400;0,800;1,1&display=swap");

:root {
    --cinza-bem-mais-escuro: #121214;
    --cinza-mais-escuro: #1e1e21;
    --cinza-escuro: #656565;
    --cinza-meio-escuro: #b7b7b7;
    --cinza-claro: #cbcbcb;

    --azul-unir: #0b3cba;
}

body {
    font-family: "Nova Mono", monospace;
    font-family: "Ysabeau", sans-serif;
    font-family: "Montserrat", sans-serif;
    background-color: var(--cinza-bem-mais-escuro);
    color: white;
    margin: 0;
}

.botao {
    border-radius: 20px;
    background-color: var(--azul-unir);
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}

.botao:hover {
    background-color: blue;
    text-decoration: underline;
}

/* =================================================================
//                           CABEÇALHO
// =================================================================*/

header {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    margin-left: 300px;
}

.nav-links a {
    font-size: 1.3em;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.nav-links .botao {
    padding: 15px 30px;
}

/* =================================================================
//                             CONTEUDO
// =================================================================*/

#inicio {
    background-image: url(./../img/banner.png);
    background-repeat: repeat; /* Do not repeat the image */
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    background-position: center; /* Center the image */
    background-size: 1500px;
}

#inicio:hover {
    background-position: center;
    background-size: 2000px;
}

#inicio h1 {
    margin-top: 0;
}

#inicio .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio .info p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
}

#inicio .info h1 {
    font-size: 5em;
    font-family: "Ysabeau", monospace;
    font-family: "Nova Mono", monospace;
    text-transform: uppercase;
}

#inicio .botao-info {
    margin-top: 50px;
}

#inicio .info .botao {
    padding: 20px 30px;
    font-size: 2em;
}

/*-----------------------------------------------------------------*/

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-escuro);
    padding: 40px 0;
}

#sobre .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre .descricao {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre .title {
    margin-top: 0;
    font-size: 2em;
    font-weight: bold;
}

#sobre .descricao img {
    margin-left: 10%;
}

#sobre .descricao .texto {
    width: 40%;
}

.galeria {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.foto {
    background-color: white;
    padding: 20px;
    color: black;
    width: min-content;
    margin: 20px;
}

.foto p {
    font-size: 1.5em;
    text-align: center;
}

.foto .img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/*-----------------------------------------------------------------*/

.onde {
    background-color: var(--cinza-mais-escuro);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-image: url(./../img/unir.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
}

.onde .info {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.onde .info .title {
    font-size: 1.5em;
    font-weight: bold;
}

.onde .info p {
    font-size: 1.2em;
}

.onde .info .map {
    margin-left: 50px;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

.onde .info img {
    margin-left: 20px;
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}

/*-----------------------------------------------------------------*/

.middle_banner {
    background-color: var(--cinza-bem-mais-escuro);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle_banner .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider::before {
    margin-bottom: 50px;
}

.divider::after {
    margin-top: 75px;
}

.divider::before,
.divider::after {
    content: "";
    display: block;
    border-top: 1px solid #cecece5e;
    width: 60%;
    border-radius: 20px;
}

.conteudo .title {
    margin-top: 0;
    font-weight: bold;
    font-size: 2em;
}

.conteudo .botao-container {
    text-align: center;
    margin-top: 30px;
}

.conteudo .botao {
    padding: 25px 25px;
    border-radius: 50px;
    font-size: 1.5em;
}

/*-----------------------------------------------------------------*/

#palestras {
    display: flex;
    background-color: var(--cinza-claro);
    color: black;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#palestras .conteudo {
    border-radius: 20px;
    background-color: var(--cinza-meio-escuro);
    min-width: 70%;
    min-height: 300px;
    padding: 20px 50px 50px 50px;
}

#palestras .conteudo .title {
    text-align: center;
    margin-bottom: 50px;
}

#palestras .conteudo .myCarrossel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myCarrossel-item {
    display: flex;
    justify-content: center;
}

.legenda {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    padding: 20px 0;
}

.legenda p {
    padding: 0 50px;
}

#palestras .conteudo .legenda .title {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.carousel-inner img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

/* =================================================================
//                             RODAPÉ
// =================================================================*/

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--cinza-claro);
    color: black;
}

footer a {
    color: black;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.footer-content .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}
.dacc {
    display: flex;
    flex-direction: column;
    max-width: 35%;
}

.links {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.links a {
    margin: 10px;
}

.copyright {
    display: flex;
    flex-direction: column;
    max-width: 35%;
}

.copyright .pessoa {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.copyright img {
    margin-right: 20px;
    border-radius: 50%;
}
